.team {
      background-image: url("../pictures/behang-met-de-skyline-van-miami_9.jpg");
    background-position: center;
    background-size: cover;
    height: 81.5vh;
    width: 100%;
    position: relative;
  }
.title>h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family:"Iceland";
    font-size: 75px;
    margin-bottom: 5%;
}

.socialMedia {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
  

.icon_social img{
    width: 3vw; 
    opacity: 0;
    transition: opacity 1s;
}

.socialMedia:hover .icon_social img{
    opacity: 1;
}

.socialMedia a{
    margin-right: 10px; 
}

footer{
    background-color: #FFB6C1;
    /* background-color:#303030; */
}
.contact {
    display: flex;
    align-items: center;
    justify-content: flex-end ;
} 
  
.contact img {
    width: 3vw;
    margin-right: 10px;
}
  
.contact p {
    margin: 0;
    color:black;
    font-family: "Iceland";
    font-weight: bold;
    font-size: medium;
    margin-right: 15px;
}

 /* #avatars-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-items: baseline; 
    justify-content: center;
    text-align: center;
    margin-left: 20px;
  }
  
  #avatars-container img {
    margin-bottom: 10px; 
  }   */

    /* #avatars-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #avatars-container img {
    margin-right: 15px;
  }
  
  #avatars-container img:last-child {
    margin-right: 0;
  }   */
  

  .users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; 
  }
  
 