@font-face {
    font-family: 'Iceland';
    src: url('../fonts/Iceland-Regular.ttf') format('truetype');
}

body {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.22) 6.91%, #000000 21.52%);
    }
    


main{
    height: 99vh;
    background: no-repeat right 10%/contain url("../pictures/predation.png");

}

.logo {
    height: 200px;
    width: 400px;
    font-size: 50px;
    /*display: flex;*/
    margin: 5%;

}

#timer {
    color: white;
    text-align: center;
    font-family: 'Iceland', cursive;
    font-size: 5vw;
    position: fixed; /* or absolute */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation {
    text-align: center;
    width:25%;
    color: aliceblue;
    font-family: 'Iceland';
    border: solid rgb(174, 35, 35);
    border-style: outset;
    font-size: large;
    margin-bottom: 15%;
    margin-left: 6%;
}


.socialMedia{
   position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.socialMedia img{
    width: 40px;
  }

.socialMedia_1,
.socialMedia_3 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.socialMedia_2:hover ~ .socialMedia_1{
    opacity: 1;
}

.socialMedia_2:hover ~ .socialMedia_3 {
    opacity: 1;
}

.socialMedia_3 a:not(:last-child) {
    margin-right: 10px;
  }

.socialMedia_1 a:not(:last-child) {
    margin-right: 10px; 
  }
  