@font-face {
    font-family: 'Iceland';
    src: url('../fonts/Iceland-Regular.ttf') format('truetype');
}

body {
   background: linear-gradient(180deg, #000000 56.91%, rgba(0, 0, 0, 0.22) 81.52%);
}



main{
    height: 99vh;
    background:no-repeat url("../pictures/predation.png");
    background-color: black;
    background-position:  top right 10%;
    background-size: contain;
}

.logo {
    height: 100px;
    width: 200px;
    font-size: 50px;
    display: flex;
    align-items: center;
}

#timer {
    color: white;
    text-align: center;
    font-family: 'Iceland', cursive;
    font-size: 5vw;
    position: fixed; /* or absolute */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialMedia{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 0 auto; */
}

.socialMedia:hover .socialMedia_1 {
    transform: translateX(50px);
}

.socialMedia_1 {
    /*display: flex;
    gap: 20px;*/
}

.socialMedia_2 {
    /*display: flex;
    gap: 20px;*/
}

.socialMedia_3 {
    /*display: flex;
    gap: 20px;*/
}
  
  .socialMedia img{
    /* text-align: center;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; */
    width: 40px;
  }

.presentation {
    text-align: center;
    width:25%;
    color: aliceblue;
    font-family: 'Iceland';
    border: solid rgb(174, 35, 35);
    border-style: outset;
    font-size: large;
    margin-top: 10%;
    margin-left: 10%;
}
